html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.Header{
    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header>img{
    margin-left: 17%;
    display: inline;
}
.Header>a{
    margin-right:17%;
    display: block;
    width: 30px;
}
#left{
    margin-left: 17%;
}
#right{
    margin-right: 17%;
}
.css-menu-bar {
    display: block;
    height: 5px;
    margin: 6px 0px 0px 0px;
    background: black;
    border-radius: 60px;
}
.Main{
    background-image: linear-gradient(90deg, rgba(251,234,252,1) 10%, rgba(174,236,246,1) 100%);
    height: 80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
h1{
    color:#D443DD;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0.5%;
    text-align: center;
}
.Main>h1{
    margin-top: 3%;
    font-size: 3em;
    margin-bottom: 0;
}
.Main>p{
    color:#333333;
}
.Cards{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Card{
    background-color: white;
    width: 17%;
    height: 65%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desktop-sphere{
    margin-top: -67px;
}
.mobile-sphere{
    display: none;
}
.desktop-triangle{
    margin-top: -65px;
}
.mobile-triangle{
    display: none;
}
.desktop-tor{
    margin-top: -68px;
}
.mobile-tor{
    display: none;
}
.Card>h1{
    font-size: 1.2em;
}
.Card>p{
    color:gray;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.8em;
}
.button{
    background-image: linear-gradient(0deg, rgba(195,78,219,1) 10%, rgba(54,174,205,1) 100%);;
    width:100px;
    height:40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}
.Footer{
    background-color: #333333;
    height:10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
@media only screen and (max-width: 600px){
    .Header{
        height:100px;
    }
    .Main{
        height:1350px;
    }
    .Cards{
        height: 1050px;
        margin-top: 60px;
        flex-direction: column;
        align-content: space-between;
    }
    .Card{
        height:300px;
        width:80%;
    }
    .Footer{
        height: 100px;
    }
    p{
        margin-left: 10%;
        margin-right: 10%;
    }
    h1{
        margin-left: 10%;
        margin-right: 10%;
    }
    #left{
        margin-left: 0;
    }
    #right{
        margin-right: 0;
    }
    .desktop-sphere{
        display: none;
    }
    .mobile-sphere{
        display: block;
        margin-top: -57px;
    }
    .desktop-triangle{
        display: none;
    }
    .mobile-triangle{
        display: block;
        margin-top: -61px;
    }
    .desktop-tor{
        display: none;
    }
    .mobile-tor{
        display: block;
        margin-top: -62px;
    }
}